:root {
    --main-color: rgb(12, 84, 90);
    --secondary-color: #ccc;
    --bg-color: #dbdede;
    --text-color: #333;
    --font: "IBM Plex Sans Arabic", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
    background: var(--bg-color);
    direction: rtl;
}

a {
    text-decoration: none;
    color: inherit;
}

.top-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);
    padding: 1px 100px;
}

.link-top-bar {
    display: flex;
    gap: 10px;
}

.link-top-bar a {
    color: var(--main-color);
    padding: 6px 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.link-top-bar a:hover {
    background: rgba(0, 0, 0, 0.05);
}

.search-bar {
    display: flex;
    align-items: center;
    color: var(--main-color);
    gap: 10px;
    margin-left: auto;
}

.search-bar input {
    padding: 6px;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    outline: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-flow: column;
    text-align: center;
    align-items: center;
    background: var(--main-color);
    padding: 10px 20px;
}

/*       logo-title         */
.title-openstore a {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav-links a {
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    transition: 0.3s;
}

.nav-links a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/*              Content                  */


.bar-hello-title {
    text-align: center;
    padding: 120px 20px;
    font-size: 26px;
    color: black;
    background: white;
}

.offers-bg {
    background-color: #ffffff;
}



/*           Offer       */
.cards-offer {
    background: white;
    padding: 50px 20px;
    text-align: center;
}

.offer-title {
    font-size: 30px;
    margin-bottom: 40px;
}



.offer-title::after {
    content: "";
    display: block;
    width: 190px;
    height: 4px;
    margin: 10px auto;
    background: linear-gradient(to right, rgb(255 255 255), var(--main-color));
}

.offers-container {
    display: flex;
    gap: 30px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.cards {
    flex: 3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.clothes-card,
.perfumes-card,
.shoes-card,
.watches-card,
.bags-card {
    position: relative;
    width: 250px;
    height: 320px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    cursor: pointer;
}

.clothes-card:hover,
.perfumes-card:hover,
.shoes-card:hover,
.watches-card:hover,
.bags-card:hover {
    transform: scale(1.05);
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clothes-card h2,
.perfumes-card h2,
.shoes-card h2,
.watches-card h2,
.bags-card h2 {
    top: 10px;
    right: 90px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.clothes-card span,
.perfumes-card span,
.shoes-card span,
.watches-card span,
.bags-card span {
    bottom: 90px;
    right: 15px;
    left: 15px;
    font-size: 13px;
    line-height: 1.4;
    color: black;
}

.clothes-card h2,
.perfumes-card h2,
.shoes-card h2,
.watches-card h2,
.bags-card h2,
.clothes-card span,
.perfumes-card span,
.shoes-card span,
.watches-card span,
.bags-card span {
    position: absolute;
    z-index: 2;
}

.clothes-card::before,
.perfumes-card::before,
.shoes-card::before,
.watches-card::before,
.bags-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

/*          Seasons      */

.seasons-bg {
    background-color: #f9f9f9;

    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.season-title {
    font-size: 30px;
    margin-bottom: 40px;
}

.seasons-container {
    display: flex;
    gap: 30px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.seasons-panels {
    display: flex;
    flex: 3;
    height: 450px;
    gap: 10px;
}

.panel {
    flex: 1;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: flex 0.7s cubic-bezier(0.05, 0.6, 0.4, 0.9);
}

.panel::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: 1;
}

.panel:hover {
    flex: 5;
}

.panel-content {
    position: absolute;
    bottom: 30px;
    right: 30px;
    left: 30px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: right;
}

.panel:hover .panel-content {
    opacity: 1;
    transition: opacity 0.5s ease 0.3s;
}

.panel-content h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.panel-content p {
    color: #ddd;
    margin-bottom: 20px;
}

.panel-btn {
    display: inline-block;
    padding: 10px 25px;
    background: white;
    color: var(--main-color);
    font-weight: bold;
    border-radius: 20px;
}

/*        Side Bar next to Seasons       */

.seasons-aside {
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 20px;
    height: fit-content;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

footer {
    background: var(--main-color);
    color: white;
    padding: 60px 20px 40px;
    margin-top: 50px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    min-width: 200px;
}

.footer-column h3 {
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    display: inline-block;
    cursor: default;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column p,
.footer-column span,
.footer-column li {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 10px;
    cursor: default;
}

footer a {
    color: white;
    transition: 0.3s;
    text-decoration: none;
}

footer a:hover {
    color: var(--bg-color);
    padding-right: 5px;
}

.copyright {
    text-align: center;
    background: #093f43;
    color: white;
    padding: 10px;
    cursor: default;
}